body {
    margin: 0 auto;
    font-family:Bahnschrift;
}

.navDown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#logo {
    float: left;
}

.navDown li {
    float: right;
}

    .navDown li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        .navDown li a:hover {
            background-color: #111;
        }

.buttonR, .buttonL {
    padding-top: 10%;
    width: 3%;
    height: 5%;
    position: absolute;
    padding-bottom: 14%;
    background-color: lightslategrey;
    opacity: 0.0;
}

.buttonR {
    margin-left: 97%;
}

    .buttonR:hover, .buttonL:hover {
        opacity: 1.0;
    }

.descriptionEffect {
    margin-top: 10%;
    margin-bottom: 10%;
}

.slideshow {
    width: 100%;
}



.login {
    float: right;
}

    .login:hover, .home:hover, .hotSales:hover, .newArrival:hover {
        opacity: 0.4;
    }

.imageButton {
    margin: 4.5%;
}

.footer {
    width: 100%;
}
